
.bubble {
	position: relative;
	background: #ebf2f8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:0;
	padding:20px 0px;
	width:100%;
	margin-bottom:10px;
}
.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ebf2f8;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 25px;
}
  .bubble-top {
    position: relative;
    width: 154px;
    height: 154px;
    padding: 0px;
    background: #FFFFFF;
    border: #b8b8b8 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

  .bubble-top:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 65px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble-top:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 65px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #b8b8b8 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

@media (max-width: 768px) {
     .bubble-top:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 110px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble-top:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 110px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #b8b8b8 transparent;
    display: block;
    width: 0;
    z-index: 0;
}
}