
//== Colors

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         #172746;
$brand-success:         #38a937;
$brand-info:            #009be3; 
$brand-warning:         #f0ad4e;
$brand-danger:          #b31500;

$brand-success-darker: 	#037e74;
$brand-warning-darker:  #ef7923;

$body-bg:				#f7f7f7;


$text-indark: 			#ffffff;

$text-title: 			#000000;

$box-default-bg-color:  #ffffff;

$screen-xs:                  480px !default; 
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

//Spacing
$default-padding: 		1em;

// Basics of a navbar

$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

$navbar-collapse-max-height:       340px;

$navbar-default-color:             #ffffff;
$navbar-default-bg:                rgba(23,39,70,0.8);
$navbar-default-border:            none;

// Navbar links
$navbar-default-link-color:                #ffffff;
$navbar-default-link-hover-color:          $brand-danger;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $brand-danger;
$navbar-default-link-active-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $brand-primary;
$navbar-default-toggle-icon-bar-bg:        $text-indark;
$navbar-default-toggle-border-color:       none;

$breadcrumb-bg:                 none;




$icon-font-path: "../fonts/";

@import "//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i";

@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $size $color;
        -moz-box-shadow:inset $top $left $blur $size $color;
        box-shadow:inset $top $left $blur $size $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $size $color;
        -moz-box-shadow: $top $left $blur $size $color;
        box-shadow: $top $left $blur $size $color;
    }
}

body{
	font-family: 'Roboto', sans-serif;

}

.topbar{
	color: $text-indark;
	padding: $default-padding;
	background-color: darken($brand-primary, 70%);
	a{
		color: $text-indark;
	}
}  
// /.topbar

.social{
	img{
	  margin: 0 $default-padding/4; 
	  border:none;
	}
	
	.facebook{
		a{
			>img{
			max-height:24px;
			}
		}
			
		
	}
	.line{
		a{
			>img{
			max-height:24px;
			}
		}		
		
	}
} 
#line{	
	position:absolute;z-index:100;top:40px;right:-10px;	
}

@media (min-width: $screen-tablet){ 
	#line{	
	position:absolute;z-index:100;top:40px;right:-58px;	
	}
}
// /.social

	.navbar-center{
		position: relative;
	    left: 18%;
	}


.text-upper{
	text-transform: uppercase;
}
.featured-image{
	background-image: url("../images/home-featured.jpg");
	background-size: cover;
}
.page-featured-image{
	img{
		width:100%!important;		
	}
	max-height:454px;
	overflow:hidden;
}

// Carousel
#propertyCarousel{
	padding: $default-padding*6 $default-padding;
}
.carousel-control{
	top: 45%;
	width: 5%;
	font-size: 40px;
	color: $gray-base;
	&:hover, &:focus, &:active{
		color: $gray-dark;
	}
}
.carousel-control.left, .carousel-control.right{
	background-image: none;
} 
@media (max-width: $screen-xs-min) {
.carousel-control.left{
	left:-10px;
}
 .carousel-control.right{
 	right:10px;
 }
 }

.fullwidth{
	width:100% !important;
}

.link-indark{
	color: $text-indark;
	&:hover, &:active, &:focus{
		color: darken($text-indark, 5%);
	}
}

.has-shadow{
	// $top, $left, $blur, $size, $color, $inset
	@include box-shadow(0,0,5px,0, $gray, false);
}


.outer-box{
		margin-bottom: $default-padding;
	.inner-box{
		position: relative;
		padding-top: $default-padding*1.5;
		margin: $default-padding*1.5;
		h2{
			font-weight: bold;
			// color: $text-title;
		}
		p{
			font-style: italic;
			text-align: left;
		}
	}
	.tag{
		position: absolute;
		top: $default-padding*3;
		right:0;
		color: $text-indark;
		padding: $default-padding*0.2 $default-padding*0.5;
	}
}
.box-footer{
	padding: $default-padding/8;
	text-align: center;
	font-size:40px;
	color: $text-indark;
}
.plain-box-footer{
	padding-bottom: 1.5em;
}

.bg-white{
	background-color: $box-default-bg-color;
}
.box-bg-danger{
	background-color: $brand-danger;
}
.box-bg-warning{
	background-color: $brand-warning;
}
.box-bg-info{
	background-color: $brand-info;
}
.box-bg-primary{
	background-color: $brand-primary;
}
.box-bg-success{
	background-color: $brand-success;
}
.box-bg-success-darker{
	background-color: $brand-success-darker;
}
.box-bg-warning-darker{
	background-color: $brand-warning-darker;
}
.box-bg-black{
	background-color: $gray-base;
}

.custom-text-warning{
	color: $brand-warning;
}
.custom-text-success{
	color: $brand-success;
}
.text-white{
	color: $text-indark;
}
.paddingless{
	padding:0;
	margin:0;
}

.search{
	position: relative;
	top: $default-padding*(-3);
	small{
		color: $gray-lighter;
	}	
	 box-bg-primary{
	 	 border-bottom: solid $default-padding*0.3 $brand-info;
		
	}
	.inner-form{			
			padding: 2em; display: table!important; width:100%!important;
	}
}
.story{
	h1{
		font-size: 3em;
		font-weight:400;
		margin: 0;
		span{
			font-weight: lighter;
		}
	}
	h2{
		font-size: 2em;
		margin-top: 0;
		font-weight: lighter;
	}
	p{
		margin:2em 0;
	}
	>div{
		padding: $default-padding;		
	}
}
.has-top-space{
	margin-top: 3em!important;
}
.has-top-xs-space{
	margin-top: 1em!important;
}
.has-bottom-space{
	margin-bottom: 3em!important;
}
.has-bottom-xs-space{
	margin-bottom: 1em!important;
}
.section-title{
	font-size: 2.5em;
	font-weight:bold;
}
.section-subtitle{
	font-weight: lighter;
	font-style: italic;
}
.page-title{
	h1{
		font-size: 2.5em;
		font-weight: bold;
		padding: 0;
		margin: 0;
		text-transform:uppercase;
	}
	h2{
		font-size: 1.5em;
		font-weight: lighter;
		padding: 0;
		margin: 0.2em auto;
	}
}
.text-larger{
	font-size: $default-padding*1.1;
}

.call-to-action{
	padding: 5em;
	background-image: url('../images/call-to-action-bg.jpg');
	background-size: cover;
	h1{
		font-weight:bold;
		span{
			font-weight: lighter;
		}
	}
}
footer{
	padding: 5em 0;
	color: $gray-light;
	p{
		padding-top:1em;
	}
}